<!DOCTYPE html>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>redirect</title>
    <link rel="stylesheet" href="./assets/css/500.css">
    <script src="./assets/js/500.js"></script>

    <meta name="referrer" content="no-referrer">
    <meta http-equiv="refresh" content="31; url={{ .redirectTo }}">
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="content has-text-centered">

                    <h1 class="title">
                        Hang Tight !
                    </h1>

                    <p>
                        You're being redirected to another page. <br /> If you are not being redirect in {{
                        .redirectAfter
                        }} seconds, please click <a rel="nofollow" href="{{ .redirectTo }}">
                            here
                        </a>
                    </p>

                    <div class="content">
                        <a rel="nofollow" href="{{ .redirectTo }}">
                            <progress id="progress" class="progress is-link is-small" value="{{ .redirectAfter }}00"
                                max="{{ .redirectAfter }}00">
                                {{ .redirectAfter }} Seconds
                            </progress>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>