.card {
    margin: auto;
    width: 400px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(1, 1, 1, 0.7);
    text-align: center;
    box-shadow: 0 0 16px 0 rgba(136, 136, 136, 0.2);
}

.content {
    padding: 16px;
}

.icon {
    height: 64px;
    width: 64px;
    margin: 32px 0;
}

.progress {
    width: 100%;
    height: 56px;
    background: radial-gradient(circle at bottom left, #44C1ED, #16a6e9);
    animation: animateBg 5s linear infinite;
}

.progress::before {
    position: absolute;
    left: 0;
    right: 0;
    content: " ";
    width: 100%;
    height: 100%;
    animation: animateHex 5s linear infinite;
    background-size: 10em;
    background-image: background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@keyframes animateBg {
    0% {
        opacity: 100%
    }

    50% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes animateHex {
    0% {
        opacity: 10%
    }

    50% {
        opacity: 85%;
    }

    100% {
        opacity: 10%;
        background-position: 5% 0%;
    }
}

h1 {
    font-size: 1.1rem;
    font-weight: 400;
}

p {
    padding: 0 48px;
    margin-top: 0;
}

a {
    color: #16a6e9;
    text-decoration: none;
}